<template>
  <div>
    <v-app-bar
      :clipped-left="clipped"
      color="primary"
      fixed
      dark
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            text
            v-on="on"
            @click="logOut"
          >
            <v-icon>
              mdi-logout-variant
            </v-icon>
          </v-btn>
        </template>
        <span>
          Log Out Application
        </span>
      </v-tooltip>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      color="primary lighten-1"
      dark
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://img.pngio.com/user-male-icon-small-flat-iconset-paomedia-png-user-1024_1024.png"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Welcome to App</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>

        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.to"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import jwtDecode from 'jwt-decode'
export default {
  data: () => ({
    clipped: false,
    drawer: false,
    fixed: false,
    items: [],
    miniVariant: false,
    right: true,
    rightDrawer: false,
    title: 'Stock App'
  }),

  computed: {
    setHeaderAxios() {
      const { user } = JSON.parse(window.localStorage.vuex)
      return {
        headers: {
          Authorization: 'Bearer ' + user.login.token
        }
      }
    }
  },

  methods: {
    logOut() {
      this.$store.dispatch('user/login/setStatusLogin', {
        status: false
      })
      window.localStorage.clear()
      this.$router.push('/')
    },

    async checkUser() {
      try {
        const { data } = await this.$axios.post('user/getInfo', {}, this.setHeaderAxios)
        if (data.role_id == 4) {
          this.items = [
            {
              icon: 'mdi-apps',
              title: 'Dashboard',
              to: '/dashboard'
            },
            {
              icon: 'mdi-chart-bubble',
              title: 'Data Stock',
              to: '/data-stock'
            },
            {
              icon: 'mdi-swap-horizontal',
              title: 'Keranjang Proses',
              to: '/pengolahan-bahan-baku'
            },
            {
              icon: 'mdi-forklift',
              title: 'Laporan Produksi',
              to: '/laporan_produksi'
            },
            {
              icon: 'mdi-database',
              title: 'Data Roasting',
              to: '/data_roasting'
            },
            {
              icon: 'mdi-tab-plus',
              title: 'Packaging',
              to: '/packaging'
            },
            {
              icon: 'mdi-package-up',
              title: 'Barang Keluar',
              to: '/barang-keluar'
            },
          ]
        } else if (data.role_id == 3) {
          this.items = [
            {
              icon: 'mdi-apps',
              title: 'Dashboard',
              to: '/dashboard'
            },
            {
              icon: 'mdi-clipboard-arrow-down',
              title: 'Adjustmen Stock',
              to: '/adjustment-stock'
            },
          ]
        } else if (data.role_id == 2) {
          this.items = [
            {
              icon: 'mdi-apps',
              title: 'Dashboard',
              to: '/dashboard'
            },
            {
              icon: 'mdi-clipboard-arrow-down',
              title: 'Produksi Report',
              to: '/adjustment-stock'
            },
          ]
        }
      } catch (e) {
        console.log(e)
      }
    }
  },

  mounted() {
    this.checkUser()
  }
}
</script>

<style scoped>

</style>
