<template>
<!--  <v-footer-->
<!--    :fixed="fixed"-->
<!--    app-->
<!--  >-->
<!--    <span>&copy; 2019 kumala kopi developer</span>-->
<!--  </v-footer>-->
</template>

<script>
export default {
  data: () => ({
    fixed: false
  })
}
</script>

<style scoped>

</style>
