.vld-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.vld-icon {
  display: block;
  text-align: center;
  height: 100%;
  padding-top: 15%;
}
