<template>
  <v-container>
    <v-card>
      <v-toolbar color="primary" dark>
        <v-toolbar-title>
          Info Mutasi {{ mutasiTitle }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-data-table
          :items="itemsMutasi"
          :headers="headersMutasi"
        ></v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "mutasi_info",
  middleware: ['admin', 'role4'],

  data: () => ({
    mutasiTitle: '',
    itemsMutasi: [],
    headersMutasi: [
      { text: 'Name', value: 'name', sortable: false, align: 'left' },
      { text: 'date', value: 'date', sortable: false },
      { text: 'Stock Last', value: 'stock_last', sortable: false },
      { text: 'Stock Out', value: 'stock_out', sortable: false },
      { text: 'Stock In', value: 'stock_in', sortable: false },
      { text: 'Description', value: 'description', sortable: false }
    ]
  }),

  methods: {
    async getDataMutasi() {
      const loader = this.$loading.show()
      try {
         const { data } = await this.$axios.get('mutasi/' + this.$route.params.id, this.setHeaderAxios)
        this.itemsMutasi = data.mutasi
        this.mutasiTitle = data.mutasi_title
        console.log(this.itemsMutasi)
        loader.hide()
      } catch (e) {
        console.log(e)
      }
    }
  },

  mounted() {
    this.getDataMutasi()
  }
}
</script>

<style scoped>

</style>
