<template>
  <v-app>
    <app-bar />
    <v-content>
      <nuxt />
    </v-content>
    <foot-app />
  </v-app>
</template>

<script>
import appBar from '~/components/commons/app-bar/index'
import footApp from '~/components/commons/foot-app/index'
export default {
  components: {
    appBar,
    footApp
  },
  data: () => ({
    fixed: true
  })
}
</script>
