<template>
  <v-container grid-list-md>
    <v-card>
      <v-toolbar color="primary darken-1" dark>
        <v-toolbar-title class="title">
          Penyesuaian Stock Akhir
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-layout row wrap>
          <v-flex md8 lg8 sm12 xs12 xl8>
            <v-text-field
              v-model="searchDataStock"
              label="Search"
              append-icon="mdi-file-find"
            />
          </v-flex>
          <v-flex md4 lg4 sm12 xs12 xl4>
            <v-select
              v-model="filterSelected"
              :items="itemsFilter"
              label="Filter Data By Category"
              @change="filterDatabyCategory"
            />
          </v-flex>
        </v-layout>
        <v-data-table
          :headers="headersStockData"
          :items="dataStock"
          :search="searchDataStock"
        >
          <template v-slot:item.stock="props">
            <v-edit-dialog
              :return-value.sync="props.item.stock"
            > {{ props.item.stock }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.stock"
                  :label="props.item.stock + ' KG'"
                  @keypress.enter="saveStock(props.item.stock, props.item)"
                  @keypress="onlyNumber"
                />
              </template>
            </v-edit-dialog>
          </template>

          <template v-slot:item.unit_price="props">
            <v-edit-dialog
              :return-value.sync="props.item.unit_price"
            > {{ convertToRupiah(props.item.unit_price) }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.unit_price"
                  :label="convertToRupiah(props.item.unit_price)"
                  @keypress="onlyNumber"
                />
              </template>
            </v-edit-dialog>
          </template>

          <template v-slot:item.id="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" color="info">
                  <v-icon>
                    mdi-package-down
                  </v-icon>
                </v-btn>
              </template>
              <span>
                Incoming Stock
              </span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" color="warning">
                  <v-icon>
                    mdi-package-up
                  </v-icon>
                </v-btn>
              </template>
              <span>
                Stock Out
              </span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "adjustment-stock",
  middleware: ['admin', 'role3'],

  data: () => ({
    max25chars: v => v.length <= 25 || 'Input too long!',
    pagination: {},
    headersStockData: [
      { text: 'Category', value: 'category_name', align: 'left' },
      { text: 'Name', value: 'name' },
      { text: 'Code Product', value: 'code_product' },
      { text: 'Stock', value: 'stock' },
      { text: 'Price', value: 'unit_price' },
      { text: 'Unit', value: 'name_unit' },
      { text: 'Actions', value: 'id', align: 'center', sortable: false }
    ],
    dataStock: [],
    searchDataStock: null,
    filterSelected: null,
    itemsFilter: ['Bahan Baku', 'Barang Setengah Jadi', 'Barang Jadi Siap Jual', 'All Category'],
    labelEdit: null
  }),

  computed: {
    setHeaderAxios() {
      const { user } = JSON.parse(window.localStorage.vuex)
      return {
        headers: {
          Authorization: 'Bearer ' + user.login.token
        }
      }
    }
  },

  methods: {
    async getDataStock() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory', this.setHeaderAxios);
        this.dataStock = data
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    async filterDatabyCategory(category) {
      const loader = this.$loading.show()
      let idCategory = null
      if (category === 'Bahan Baku') {
        idCategory = 1
      } else if (category === 'Barang Setengah Jadi') {
        idCategory = 2
      } else if (category === 'Barang Jadi Siap Jual') {
        idCategory = 3
      } else if (category === 'All Category') {
        this.getDataStock()
        return loader.hide()
      }

      try {
        const { data } = await this.$axios.get('master/inventory/filter/' + idCategory, this.setHeaderAxios)
        this.dataStock = data
      } catch (e) {
        console.log(e)
      }
      loader.hide()
    },

    async saveStock(stock, dataStock) {
      this.$toast.destroy()
      if (!parseFloat(stock)) {
        this.getDataStock()
        return this.$toast.error('Input yang anda masukan salah, gagal menyimpan data!')
      }
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('stock/adjustment/stock', {
          idData: dataStock.id,
          stockUpdate: stock
        }, this.setHeaderAxios)
        this.$toast.success(data)
        this.labelEdit = null
        loader.hide()
      } catch (e) {
        console.log(e)
      }
    },

    convertToRupiah (angka) {
      if (!angka) {
        angka = 0
      }
      let rupiah = '';
      let angkarev = angka.toString().split('').reverse().join('');
      for (let i = 0; i < angkarev.length; i++) {
        if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.'
      }
      return 'Rp. ' + rupiah.split('', rupiah.length - 1).reverse().join('')
    },

    onlyNumber ($event) {
      //console.log($event.keyCode); //keyCodes value
      let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
        $event.preventDefault();
      }
    }
  },

  mounted() {
    this.getDataStock()
  }
}
</script>

<style scoped>

</style>
