<template>
  <v-container>
    <v-card>
      <v-toolbar color="primary darken-1" dark>
        <v-toolbar-title class="title">
          Barang Keluar
        </v-toolbar-title>
        <v-spacer />
        <v-btn icon @click="addNewRowOnDataTable">
          <v-icon>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-data-table
          :headers="headersDataTable"
          :items="itemsDataTable"
        >
          <template v-slot:item.product="props">
            <v-edit-dialog
              persistent
              :return-value.sync="props.item.product"
            > {{ props.item.product }}
              <template v-slot:input>
                <v-autocomplete
                  v-model="props.item.product"
                  :items="itemsSelectProduct"
                  label="Select Product"
                  autofocus
                />
              </template>
            </v-edit-dialog>
          </template>

          <template v-slot:item.id="props">
            <v-btn
              icon
              color="red"
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "barang-keluar",
  middleware: ['admin', 'role4'],

  data: () => ({
    itemsDataTable: [],
    headersDataTable: [
      { text: 'Product', value: 'product', sortable: false },
      { text: 'QTY', value: 'qty', sortable: false },
      { text: 'Keterangan', value: 'ket', sortable: false },
      { text: 'Actions', value: 'id', sortable: false, align: 'center' }
    ],
    itemsSelectProduct: [],
    idDataTable: 1
  }),

  methods: {
    async getDataProduct() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + 3, this.setHeaderAxios)
        this.itemsSelectProduct = []
        for (let val of data) {
          this.itemsSelectProduct.push(val.name)
        }
        console.log(this.itemsSelectProduct)
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    addNewRowOnDataTable() {
      this.idDataTable = this.idDataTable + 1
      this.itemsDataTable.push({
        id: this.idDataTable,
        product: 'Click For Edit',
        qty: 0,
        ket: 'Click For Edit'
      })
    },
  },

  mounted() {
    this.getDataProduct()
    this.itemsDataTable.push({
      id: 1,
      product: 'Click For Edit',
      qty: 0,
      ket: 'Click For Edit'
    })
  }
}
</script>

<style scoped>

</style>
