<template>
  <v-container>
    <v-card>
      <v-card-title class="title">
        Dashboard
      </v-card-title>
      <v-divider />
      <v-card-text>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto labore molestiae mollitia neque, quaerat recusandae. Aspernatur cupiditate dicta doloremque fugiat harum laboriosam minima mollitia, officiis provident, quisquam quos saepe.
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "dashboard",
  middleware: ['admin']
}
</script>

<style scoped>

</style>
