<template>
  <v-container>
    <v-card>
      <v-card-text>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at cum distinctio dolores ea eius error hic, ipsum iure labore magnam necessitatibus nesciunt officia reiciendis rem repellendus repudiandae sint, temporibus.
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "data_roasting"
}
</script>

<style scoped>

</style>
