<template>
  <v-container grid-list-md>
    <v-card>
      <v-toolbar color="primary darken-1" dark>
        <v-toolbar-title class="title">
          Data Stock
        </v-toolbar-title>
        <v-spacer />

        <!--Add Bulk Stock-->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              color="info"
              @click.stop="dialogUploadBulkStock = true"
            >
              <v-icon>
                mdi-package-down
              </v-icon>
            </v-btn>
          </template>
          <span>
            Tambah Stok Bahan Baku
          </span>
        </v-tooltip>
        <!--End Add Bulk Stock-->

        <!--Buat bahan setengah jadi-->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              color="warning"
              @click.native="dialogPemrosesanBahanBaku = true"
            >
              <v-icon>
                mdi-swap-horizontal
              </v-icon>
            </v-btn>
          </template>
          <span>
            Buat process bahan setengah jadi
          </span>
        </v-tooltip>
        <!--End Buat bahan setengah jadi-->

        <!--Buat barang siap jual-->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              color="orange"
              @click.native="dialogPbj = true"
            >
              <v-icon>
                mdi-chair-school
              </v-icon>
            </v-btn>
          </template>
          <span>
            Buat process barang siap jual
          </span>
        </v-tooltip>
        <!--End  barang siap jual-->

        <!--Upload By Excel-->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              color="green"
              @click.stop="dialogUploadExcel = true"
            >
              <v-icon>
                mdi-file-excel
              </v-icon>
            </v-btn>
          </template>
          <span>
            Upload Master Data By Excel
          </span>
        </v-tooltip>
        <!--End Upload By Excel-->

        <!--Create New Master Data-->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              color="teal"
              @click.native="dialogCreateNewMasterData = true"
            >
              <v-icon>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <span>
            Create New Master Data
          </span>
        </v-tooltip>
        <!--End Create New Master Data-->

      </v-toolbar>

      <!--Data Table-->
      <v-card-text>
        <v-layout row wrap>
          <v-flex md8 lg8 sm12 xs12 xl8>
            <v-text-field
              v-model="searchDataStock"
              label="Search"
              append-icon="mdi-file-find"
            />
          </v-flex>
          <v-flex md4 lg4 sm12 xs12 xl4>
            <v-select
              v-model="filterSelected"
              :items="itemsFilter"
              label="Filter Data By Category"
              @change="filterDatabyCategory"
            />
          </v-flex>
        </v-layout>
        <v-data-table
          :headers="headersStockData"
          :items="dataStock"
          :search="searchDataStock"
          :items-per-page="5"
        >
          <template v-slot:item.name="props">
            <v-edit-dialog
              :return-value.sync="props.item.name"
            > {{ props.item.name }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.name"
                  :rules="[max25chars]"
                  label="Edit"
                  single-line
                  counter
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:item.iron="props">
            <v-edit-dialog
              :return-value.sync="props.item.iron"
              large
              persistent
            >
              <div>{{ props.item.iron }}</div>
              <template v-slot:input>
                <div class="mt-4 title">Update Iron</div>
              </template>
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.iron"
                  :rules="[max25chars]"
                  label="Edit"
                  single-line
                  counter
                  autofocus
                />
              </template>
            </v-edit-dialog>
          </template>

          <template v-slot:item.stock="{ item }">
            <v-chip
              v-if="!item.stock || item.stock === 0"
              color="error"
            >
              0
            </v-chip>
            <v-chip v-else color="blue">
              {{ item.stock }}
            </v-chip>
          </template>

          <template v-slot:item.id="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" color="info" @click="checkMutasiInfo(item)">
                  <v-icon>
                    mdi-eye
                  </v-icon>
                </v-btn>
              </template>
              <span>
                Mutasi info
              </span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
      <!--End Data Table-->

    </v-card>

    <!--Dialog Upload Excel-->
    <v-dialog
      v-model="dialogUploadExcel"
      max-width="600"
      persistent
      scrollable
    >
      <v-card>
        <v-toolbar color="primary lighten-1" dark>
          <v-toolbar-title>
            Upload Data By Excel
          </v-toolbar-title>
          <v-spacer />
          <v-btn
            icon
            color="error"
            @click.stop="dialogUploadExcel = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="my-6">
          <v-file-input
            v-model="dataExcel"
            label="Select data excel"
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            type="submit"
            outlined
            color="primary"
            @click.prevent="uploadDataByExcel"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--End Dialog Upload Excel-->

    <!--Dialog Upload bulk data stock-->
    <v-dialog
      v-model="dialogUploadBulkStock"
      persistent
      fullscreen
      scrollable
    >
      <v-card>
        <v-card-title class="primary lighten-1 white--text title">
          Tambah Stock Bahan Baku
          <v-spacer />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                icon
                color="blue"
                @click="addNewRowOnTableAddBulkStock"
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
            </template>
            <span>
              Add New Row
            </span>
          </v-tooltip>
          <v-btn
            icon
            color="error"
            @click.stop="dialogUploadBulkStock = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="mt-7">
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm12 md3 lg3 xl3>
                <v-text-field
                  v-model="resellerName"
                  label="Reseller Name"
                />
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 xl3>
                <v-menu
                  ref="menu"
                  v-model="menuDateAddBulkStock"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateAddBulkStock"
                      label="Date"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="dateAddBulkStock" @input="menuDateAddBulkStock = false" />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md3 lg3 xl3>
                <v-menu
                  ref="menu"
                  v-model="menuTimeBulkStock"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="timeAddBulkStock"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="timeAddBulkStock"
                      label="Time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-if="menuTimeBulkStock"
                    v-model="timeAddBulkStock"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu.save(timeAddBulkStock)"
                  />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md3 lg3 xl3>
                <v-text-field
                  v-model="description"
                  label="Description"
                />
              </v-flex>

              <v-flex xs12 sm12 md12 lg12 xl12 mx-auto>
                <v-data-table
                  :headers="headersTableAddBulkStock"
                  :items="itemsTableAddBulkStock"
                  class="elevation-7"
                >
                  <template v-slot:item.product="props">
                    <v-edit-dialog
                      persistent
                      :return-value.sync="props.item.product"
                    > {{ props.item.product }}
                      <template v-slot:input>
                        <v-autocomplete
                          v-model="props.item.product"
                          :items="itemsSelectProduct"
                          label="Select Product"
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.qty="props">
                    <v-edit-dialog
                      :return-value.sync="props.item.qty"
                      large
                      persistent
                    >
                      <div>{{ props.item.qty }}</div>
                      <template v-slot:input>
                        <div class="mt-4 title">Input QTY</div>
                      </template>
                      <template v-slot:input>
                        <v-text-field
                          v-model="props.item.qty"
                          label="Edit"
                          single-line
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.id="props">
                    <v-btn
                      icon
                      color="error"
                      @click="deleteItemAddBulkStock(props.item)"
                    >
                      <v-icon>
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" outlined @click="saveBulkStock">
            Save Items Stock
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--Edn Dialog Upload Bulk Data Stock-->

    <!--Dialog Create Master Data-->
    <v-dialog
      v-model="dialogCreateNewMasterData"
      persistent
      scrollable
      max-width="600"
    >
      <v-card>
        <v-card-title class="primary lighten-1 white--text title">
          Create New Master Data
          <v-spacer />
          <v-btn
            icon
            color="error"
            @click.stop="dialogCreateNewMasterData = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm12 md6 lg6 xl6>
                <v-text-field
                  v-model="nameProduct"
                  label="Name Product"
                />
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 xl6>
                <v-select
                  v-model="unitProductSelected"
                  :items="itemsUnitProduct"
                  label="Unit"
                />
              </v-flex>
              <v-flex xs12 sm12 md12 lg12 xl12>
                <v-select
                  v-model="categorySelected"
                  :items="itemsCategory"
                  label="Category"
                />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" outlined @click="saveNewMasterData">
            Save New Master Data
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--End Dialog Create Master Data-->

    <!--Dialog Pemrosesan Bahan Baku-->
    <v-dialog
      v-model="dialogPemrosesanBahanBaku"
      persistent
      fullscreen
      scrollable
    >
      <v-card>
        <v-card-title class="primary lighten-1 white--text title">
          Process Bahan Baku
          <v-spacer />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                icon
                color="blue"
                @click="addNewRowOnTablePbb"
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
            </template>
            <span>
              Add New Row
            </span>
          </v-tooltip>
          <v-btn
            icon
            color="error"
            @click.stop="dialogPemrosesanBahanBaku = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="mt-7">
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-menu
                  ref="menu"
                  v-model="menuDateAddBulkStockPbb"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateAddBulkStockPbb"
                      label="Date"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="dateAddBulkStockPbb" @input="menuDateAddBulkStockPbb = false" />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-menu
                  ref="menu"
                  v-model="menuTimeBulkStockPbb"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="timeAddBulkStockPbb"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="timeAddBulkStockPbb"
                      label="Time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-if="menuTimeBulkStockPbb"
                    v-model="timeAddBulkStockPbb"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu.save(timeAddBulkStockPbb)"
                  />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-text-field
                  v-model="descriptionPbb"
                  label="Description"
                />
              </v-flex>

              <v-flex xs12 sm12 md12 lg12 xl12 mx-auto>
                <v-data-table
                  :headers="headersTableAddBulkStockPbb"
                  :items="itemsTableAddBulkStockPbb"
                  class="elevation-7"
                >
                  <template v-slot:item.product="props">
                    <v-edit-dialog
                      persistent
                      :return-value.sync="props.item.product"
                    > {{ props.item.product }}
                      <template v-slot:input>
                        <v-autocomplete
                          v-model="props.item.product"
                          :items="itemsSelectProductPbb"
                          label="Select Product"
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.qty="props">
                    <v-edit-dialog
                      :return-value.sync="props.item.qty"
                      large
                      persistent
                    >
                      <div>{{ props.item.qty }}</div>
                      <template v-slot:input>
                        <div class="mt-4 title">Input QTY</div>
                      </template>
                      <template v-slot:input>
                        <v-text-field
                          v-model="props.item.qty"
                          label="Edit"
                          single-line
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.id="props">
                    <v-btn
                      icon
                      color="error"
                      @click="deleteItemPbb(props.item)"
                    >
                      <v-icon>
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" outlined @click="savePbb">
            Process Bahan Baku
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--End Dialog Pemrosesan Bahan Baku-->

    <!--Dialog Pemrosesan barang siap jual-->
    <v-dialog
      v-model="dialogPbj"
      persistent
      fullscreen
      scrollable
    >
      <v-card>
        <v-card-title class="primary lighten-1 white--text title">
          Process Pembuatan Bahan Siap Jual
          <v-spacer />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                icon
                color="blue"
                @click="addNewRowOnTablePbj"
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
            </template>
            <span>
              Add New Row
            </span>
          </v-tooltip>
          <v-btn
            icon
            color="error"
            @click.stop="dialogPbj = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="mt-7">
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-menu
                  ref="menu"
                  v-model="menuDateAddBulkStockPbj"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateAddBulkStockPbj"
                      label="Date"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="dateAddBulkStockPbj" @input="menuDateAddBulkStockPbj = false" />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-menu
                  ref="menu"
                  v-model="menuTimeBulkStockPbj"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="timeAddBulkStockPbj"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="timeAddBulkStockPbj"
                      label="Time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-if="menuTimeBulkStockPbj"
                    v-model="timeAddBulkStockPbj"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu.save(timeAddBulkStockPbj)"
                  />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md4 lg4 xl4>
                <v-text-field
                  v-model="descriptionPbj"
                  label="Description"
                />
              </v-flex>

              <v-flex xs12 sm12 md12 lg12 xl12 mx-auto>
                <v-data-table
                  :headers="headersTableAddBulkStockPbj"
                  :items="itemsTableAddBulkStockPbj"
                  class="elevation-7"
                >
                  <template v-slot:item.product="props">
                    <v-edit-dialog
                      persistent
                      :return-value.sync="props.item.product"
                    > {{ props.item.product }}
                      <template v-slot:input>
                        <v-autocomplete
                          v-model="props.item.product"
                          :items="itemsSelectProductPbj"
                          label="Select Product"
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.qty="props">
                    <v-edit-dialog
                      :return-value.sync="props.item.qty"
                      large
                      persistent
                    >
                      <div>{{ props.item.qty }}</div>
                      <template v-slot:input>
                        <div class="mt-4 title">Input QTY</div>
                      </template>
                      <template v-slot:input>
                        <v-text-field
                          v-model="props.item.qty"
                          label="Edit"
                          single-line
                          autofocus
                        />
                      </template>
                    </v-edit-dialog>
                  </template>

                  <template v-slot:item.id="props">
                    <v-btn
                      icon
                      color="error"
                      @click="deleteItemPbj(props.item)"
                    >
                      <v-icon>
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" outlined @click="savePbj">
            Process Barang Siap Jual
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--End Dialog Pemrosesan barang siap jual-->
  </v-container>
</template>

<script>
export default {
  name: "data-stock",
  middleware: ['admin', 'role4'],

  data: () => ({
    dialogUploadExcel: false,
    dataExcel: [],
    max25chars: v => v.length <= 25 || 'Input too long!',

    /*
    * Data Table Section
    * */
    pagination: {},
    headersStockData: [
      { text: 'Category', value: 'category_name', align: 'left' },
      { text: 'Name', value: 'name' },
      { text: 'Code Product', value: 'code_product' },
      { text: 'Stock', value: 'stock' },
      { text: 'Unit', value: 'name_unit' },
      { text: 'Actions', value: 'id', align: 'center', sortable: false }
    ],
    dataStock: [],
    searchDataStock: null,
    filterSelected: null,
    itemsFilter: [],
    /*
    * End Data Table Section
    * */

    /*
    * Dialog Upload Bulk Stock Section
    * */
    dialogUploadBulkStock: false,
    dataAutoComplete: [],
    menuDateAddBulkStock: false,
    dateAddBulkStock: null,
    menuTimeBulkStock: false,
    timeAddBulkStock: null,
    headersTableAddBulkStock: [
      { text: 'Product', value: 'product', align: 'left', sortable: false },
      { text: 'Qty (Satuan Kilogram)', value: 'qty', sortable: false },
      { text: 'Actions', value: 'id', align: 'center', sortable: false }
    ],
    itemsTableAddBulkStock: [],
    idItemsTableAddBulkStock: -1,
    itemsSelectProduct: [],
    resellerName: null,
    description: null,
    /*
    * End Dialog Add Bulk Stock
    * */

    /*
    * Dialog Create New Master Data
    * */
    dialogCreateNewMasterData: false,
    nameProduct: null,
    unitProductSelected: null,
    itemsUnitProduct: ['kg', 'gr', 'pcs'],
    categorySelected: null,
    itemsCategory: ['Bahan Baku', 'Barang Setengah Jadi', 'Barang Jadi Siap Jual'],
    /*
    * End Dialog Create New Master Data
    * */

    /*
    * Dialog Pemrosesan Bahan Baku
    * */
    dialogPemrosesanBahanBaku: false,
    dataAutoCompletePbb: [],
    menuDateAddBulkStockPbb: false,
    dateAddBulkStockPbb: null,
    menuTimeBulkStockPbb: false,
    timeAddBulkStockPbb: null,
    headersTableAddBulkStockPbb: [
      { text: 'Product', value: 'product', align: 'left', sortable: false },
      { text: 'Qty (Satuan Kilogram)', value: 'qty', sortable: false },
      { text: 'Actions', value: 'id', align: 'center', sortable: false }
    ],
    itemsTableAddBulkStockPbb: [],
    idItemsTableAddBulkStockPbb: -1,
    itemsSelectProductPbb: [],
    descriptionPbb: null,
    /*
    * End Dialog Pemrosesan Bahan Baku
    * */

    /*
    * Dialog Pembuatan process barang siap jual
    * */
    dialogPbj: false,
    dataAutoCompletePbj: [],
    menuDateAddBulkStockPbj: false,
    dateAddBulkStockPbj: null,
    menuTimeBulkStockPbj: false,
    timeAddBulkStockPbj: null,
    headersTableAddBulkStockPbj: [
      { text: 'Product', value: 'product', align: 'left', sortable: false },
      { text: 'Qty (Satuan Gram)', value: 'qty', sortable: false },
      { text: 'Actions', value: 'id', align: 'center', sortable: false }
    ],
    itemsTableAddBulkStockPbj: [],
    idItemsTableAddBulkStockPbj: -1,
    itemsSelectProductPbj: [],
    descriptionPbj: null,
  }),

  computed: {
    setHeaderAxios() {
      const { user } = JSON.parse(window.localStorage.vuex)
      return {
        headers: {
          Authorization: 'Bearer ' + user.login.token
        }
      }
    }
  },

  methods: {
    // const loader =
    async uploadDataByExcel() {
      const formData = new FormData()
      formData.append('dataExcel', this.dataExcel)
      try {
        const { data } = await this.$axios.post('master/inventory/excel', formData, this.setHeaderAxios)
        this.$toast.success(data)
        this.dialogUploadExcel = false
      } catch (e) {
        // console.log(e)
      }
    },

    async getDataStock() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory', this.setHeaderAxios);
        this.dataStock = data
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    addNewRowOnTableAddBulkStock() {
      this.idItemsTableAddBulkStock = this.idItemsTableAddBulkStock + 1
      this.itemsTableAddBulkStock.push({
        id: this.idItemsTableAddBulkStock,
        product: 'Click For Edit',
        qty: 0
      })
    },

    /*
    * Fungsi Untuk Mendapatkan data saat akan menambah Bulk Stock Item
    * */
    async getDataProduct() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + 1, this.setHeaderAxios)
        this.itemsSelectProduct = []
        for (let val of data) {
          this.itemsSelectProduct.push(val.name)
        }
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    deleteItemAddBulkStock(item) {
      const indexDelete = this.itemsTableAddBulkStock.indexOf(item)
      this.itemsTableAddBulkStock.splice(indexDelete, 1)
      if (this.itemsTableAddBulkStock.length === 0) {
        this.idItemsTableAddBulkStock = -1
      }
    },

    async saveBulkStock() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('stock/history', {
          items: this.itemsTableAddBulkStock,
          status: 'stockIn',
          reseller: this.resellerName,
          date: this.dateAddBulkStock,
          time: this.timeAddBulkStock,
          description: this.description
        }, this.setHeaderAxios)
        this.itemsTableAddBulkStock = []
        this.resellerName = null
        this.dateAddBulkStock = null
        this.timeAddBulkStock = null
        this.description = null
        this.getDataStock()
        loader.hide()
        this.$toast.success(data)
      } catch (e) {
        loader.hide()
        console.log(e)
      }
    },

    async filterDatabyCategory(category) {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/filter/' + category, this.setHeaderAxios)
        this.dataStock = data
      } catch (e) {
        console.log(e)
      }
      loader.hide()
    },

    async saveNewMasterData() {
      const loader = this.$loading.show()
      let unit = null
      let category = null
      if (this.unitProductSelected === 'kg') {
        unit = 1
      } else if (this.unitProductSelected === 'gr') {
        unit = 2
      } else if (this.unitProductSelected === 'pcs') {
        unit = 3
      }

      if (this.categorySelected === 'Bahan Baku') {
        category = 1
      } else if (this.categorySelected === 'Barang Setengah Jadi') {
        category = 2
      } else if (this.categorySelected === 'Barang Jadi Siap Jual') {
        category = 3
      }
      try {
        const { data } = await this.$axios.post('master/inventory', {
          nameProduct: this.nameProduct,
          unit,
          category
        }, this.setHeaderAxios)
        this.nameProduct = null
        this.unitProductSelected = null
        this.categorySelected = null
        this.$toast.success(data)
        this.getDataStock()
      } catch (e) {
        console.log(e)
      }
      loader.hide()
    },

    async getDataProductPbb() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + 1, this.setHeaderAxios)
        this.itemsSelectProductPbb = []
        for (let val of data) {
          this.itemsSelectProductPbb.push(val.name)
        }
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    addNewRowOnTablePbb() {
      this.idItemsTableAddBulkStockPbb = this.idItemsTableAddBulkStockPbb + 1
      this.itemsTableAddBulkStockPbb.push({
        id: this.idItemsTableAddBulkStockPbb,
        product: 'Click For Edit',
        qty: 0
      })
    },

    deleteItemPbb(item) {
      const indexDelete = this.itemsTableAddBulkStockPbb.indexOf(item)
      this.itemsTableAddBulkStockPbb.splice(indexDelete, 1)
      if (this.itemsTableAddBulkStockPbb.length === 0) {
        this.idItemsTableAddBulkStockPbb = -1
      }
    },

    async savePbb() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('stock/history', {
          items: this.itemsTableAddBulkStockPbb,
          status: 'stockOut',
          date: this.dateAddBulkStockPbb,
          time: this.timeAddBulkStockPbb,
          description: this.descriptionPbb,
          statusProcess: 2
        }, this.setHeaderAxios)
        this.itemsTableAddBulkStockPbb = []
        this.dateAddBulkStockPbb = null
        this.timeAddBulkStockPbb = null
        this.descriptionPbb = null
        this.getDataStock()
        loader.hide()
        this.$toast.success(data)
        // console.log(data)
      } catch (e) {
        loader.hide()
        console.log(e)
      }
    },

    async getDataPjb() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + 3, this.setHeaderAxios)
        this.itemsSelectProductPbj = []
        for (let val of data) {
          this.itemsSelectProductPbj.push(val.name)
        }
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    addNewRowOnTablePbj() {
      this.idItemsTableAddBulkStockPbj = this.idItemsTableAddBulkStockPbj + 1
      this.itemsTableAddBulkStockPbj.push({
        id: this.idItemsTableAddBulkStockPbj,
        product: 'Click For Edit',
        qty: 0
      })
    },

    deleteItemPbj(item) {
      const indexDelete = this.itemsTableAddBulkStockPbj.indexOf(item)
      this.itemsTableAddBulkStockPbj.splice(indexDelete, 1)
      if (this.itemsTableAddBulkStockPbj.length === 0) {
        this.idItemsTableAddBulkStockPbj = -1
      }
    },

    async savePbj() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('stock/history', {
          items: this.itemsTableAddBulkStockPbj,
          status: 'barangSiapJual',
          date: this.dateAddBulkStockPbj,
          time: this.timeAddBulkStockPbj,
          description: this.descriptionPbj,
          statusProcess: 7
        }, this.setHeaderAxios)
        this.itemsTableAddBulkStockPbj = []
        this.dateAddBulkStockPbj = null
        this.timeAddBulkStockPbj = null
        this.descriptionPbj = null
        this.getDataStock()
        loader.hide()
        if (data.status === 'gagal') {
          this.$toast.error(data.msg)
        } else {
          this.$toast.success(data.msg)
        }
        // console.log(data)
      } catch (e) {
        loader.hide()
        console.log(e)
      }
    },

    async getDataCategory() {
      const category = ['Bahan Baku', 'Barang Setengah Jadi', 'Barang Jadi Siap Jual', 'Packaging', 'ATK & Etc', 'Equipment & Utensil']
      try {
        const { data } = await this.$axios.post('category/stock/get', {
          dataCategory: category
        }, this.setHeaderAxios)
        for (let val of data) {
          this.itemsFilter.push(val.category_name)
        }
      } catch (e) {
        console.log(e)
      }
    },

    checkMutasiInfo(data) {
      this.$router.push('mutasi_info/' + data.id)
    }
  },

  mounted() {
    this.getDataStock()
    this.getDataProduct()
    this.getDataProductPbb()
    this.getDataPjb()
    this.getDataCategory()
  }
}
</script>

<style scoped>

</style>
