<template>
  <v-container
    class="fill-height"
    fluid
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="4"
      >
        <v-img
          :src="require('@/assets/img/logo/kumala_app.png')"
          aspect-ratio="5.8"
          class="mb-2"
        />
        <v-form>
          <v-card class="elevation-12">
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Login Stock App Web</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-text-field
                v-model="user"
                label="User"
                name="user"
                prepend-icon="mdi-account"
                type="text"
              />

              <v-text-field
                v-model="password"
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
              />
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                :loading="btnLoading"
                type="submit"
                color="primary"
                @click.prevent="login"
              >
                Login
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  layout: 'login',
  name: 'Login',
  middleware: ['guest'],

  data: () => ({
    user: null,
    password: null,
    btnLoading: false
  }),

  methods: {
    ...mapActions({
      loginProcess: 'user/login/loginProcess'
    }),

    async login() {
      this.btnLoading = true
      try {
         const data = await this.loginProcess({
          user: this.user,
          password: this.password
        })
        if (!data.statusLogin) {
          this.btnLoading = false
          if (data.err.response.status === 422) {
            if (Array.isArray(data.err.response.data.errors.password)) {
              this.$toast.error(data.err.response.data.errors.password[0])
            } else {
              this.$toast.error(data.err.response.data.errors.user[0])
            }
          } else if (data.err.response.status === 421) {
              this.$toast.error(data.err.response.data)
          } else {
            this.$toast.error(data.err.response.data)
          }
        }
      } catch (e) {
        this.btnLoading = false
        console.log(e)
      }
    }
  }
}
</script>
