<template>
  <v-container>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title>
          Laporan Produksi Harian
        </v-toolbar-title>
        <v-spacer />
      </v-toolbar>
      <v-card-text>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="date"
              label="Pilih Tanggal"
              readonly
              v-on="on"
            />
          </template>
          <v-date-picker v-model="date" no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.menu.save(date), getDataByDate(date)">OK</v-btn>
          </v-date-picker>
        </v-menu>
        <v-data-table
          :headers="headersTable"
          :items="itemsTable"
        ></v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "laporan_produksi",
  middleware: ['admin', 'role4'],

  data: () => ({
    date: null,
    menu: false,
    headersTable: [
      { text: 'Product', value: 'name', align: 'left' },
      { text: 'Stock Last', value: 'stock_last' },
      { text: 'Stock In', value: 'stock_in' },
      { text: 'Stock Out', value: 'stock_out' },
      { text: 'Stock Update', value: 'stock_update' },
      { text: 'Description', value: 'description' },
    ],
    itemsTable: []
  }),

  methods: {
    async getDataByDate(date) {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('stock/by_date/' + date, this.setHeaderAxios)
        this.itemsTable = data
        loader.hide()
      } catch (e) {
        console.log(e)
        loader.hide()
      }
    }
  }
}
</script>

<style scoped>

</style>
