<template>
  <v-container>
    <v-card>
      <v-toolbar color="primary darken-1" dark>
        <v-toolbar-title class="title">
          Stock produk di kemasan
        </v-toolbar-title>
        <v-spacer />
        <v-btn icon @click.native="dialog = true">
          <v-icon>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-data-table
          :items="itemsTable"
          :headers="headersTable"
        ></v-data-table>
      </v-card-text>
    </v-card>

    <v-dialog persistent v-model="dialog" max-width="900">
      <v-card>
        <v-toolbar color="primary" class="title">
          <v-toolbar-title class="white--text">
            Tambah stock produk di kemasan
          </v-toolbar-title>
          <v-spacer />
          <v-btn color="error" icon @click.native="dialog = false">
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 md6 lg6>
                <v-autocomplete
                  v-model="category"
                  label="Pilih Kategory"
                  :items="itemsFilter"
                  @change="changeSelectInvCategory"
                />
              </v-flex>

              <v-flex xs12 md6 lg6>
                <v-autocomplete
                  v-model="productName"
                  label="Pilih Product"
                  :items="dataProductName"
                />
              </v-flex>

              <v-flex xs12 md6 lg6>
                <v-autocomplete
                  v-model="packagingName"
                  label="Pilih Packaging"
                  :items="packagingData"
                />
              </v-flex>

              <v-flex xs12 md6 lg6>
                <v-autocomplete
                  v-model="frontStickerName"
                  label="Pilih Stiker Depan"
                  :items="frontStickerData"
                />
              </v-flex>

              <v-flex xs12 md6 lg6>
                <v-autocomplete
                  v-model="backStickerName"
                  label="Pilih Stiker Belakang"
                  :items="backStickerData"
                />
              </v-flex>

              <v-flex xs12 md6 lg6>
                <v-text-field
                  v-model="qtyProduct"
                  label="QTY Product"
                />
              </v-flex>

              <v-flex xs12 md12 lg12>
                <v-text-field
                  v-model="multipleProduct"
                  label="Kelipatan Product"
                />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" outlined @click="saveDataPackaging">
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "packaging",
  middleware: ['admin', 'role4'],

  data: () => ({
    product: [],
    itemsFilter: [],
    dialog: false,
    category: null,
    dataProductName: [],
    productName: null,
    packagingData: [],
    frontStickerData: [],
    backStickerData: [],
    packagingName: null,
    frontStickerName: null,
    backStickerName: null,
    qtyProduct: null,
    multipleProduct: null,
    headersTable: [
      { text: 'Product', value: 'product_name', align: 'left' },
      { text: 'Packaging', value: 'packaging_name' },
      { text: 'Front Sticker', value: 'front_sticker' },
      { text: 'Back Sticker', value: 'back_sticker' },
      { text: 'QTY', value: 'qty_product' },
      { text: 'Multiple', value: 'multiple' },
      { text: 'Actions', value: 'id' },
    ],
    itemsTable: []
  }),

  methods: {
    async getDataStock() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory', this.setHeaderAxios);
        this.product = data
        loader.hide()
      } catch (e) {
        loader.hide()
      }
    },

    async getDataCategory() {
      const category = ['Bahan Baku', 'Barang Setengah Jadi', 'Barang Jadi Siap Jual']
      // const category = ['Bahan Baku', 'Barang Setengah Jadi', 'Barang Jadi Siap Jual', 'Packaging', 'ATK & Etc', 'Equipment & Utensil']
      try {
        const { data } = await this.$axios.post('category/stock/get', {
          dataCategory: category
        }, this.setHeaderAxios)
        for (let val of data) {
          this.itemsFilter.push(val.category_name)
        }
      } catch (e) {
        console.log(e)
      }
    },

    async changeSelectInvCategory(value) {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + value, this.setHeaderAxios)
        this.dataProductName = []
        for (let val of data) {
          this.dataProductName.push(val.name)
        }
        loader.hide()
      } catch (e) {
        console.log(e)
        loader.hide()
      }
    },

    async getDataPackaging() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('master/inventory/' + 4, this.setHeaderAxios)
        for (let val of data) {
          this.packagingData.push(val.name)
          this.frontStickerData.push(val.name)
          this.backStickerData.push(val.name)
        }
        loader.hide()
      } catch (e) {
        console.log(e)
        loader.hide()
      }
    },

    async saveDataPackaging() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('packaging', {
          product: this.productName,
          packagingName: this.packagingName,
          qtyProduct: this.qtyProduct,
          frontSticker: this.frontStickerName,
          backSticker: this.backStickerName,
          multiple: this.multipleProduct
        })
        this.dialog = false
        this.productName = null
        this.packagingName = null
        this.qtyProduct = null
        this.frontStickerName = null
        this.backStickerName = null
        this.multipleProduct = null
        this.$toast.success(data)
        loader.hide()
      } catch (e) {
        console.log(e)
        loader.hide()
      }
    },

    async getDataProductOnPackaging() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.get('packaging', this.setHeaderAxios)
        console.log(data)
        this.itemsTable = data
        loader.hide()
      } catch (e) {
        console.log(e)
        loader.hide()
      }
    }
  },

  mounted() {
    this.getDataStock()
    this.getDataCategory()
    this.getDataPackaging()
    this.getDataProductOnPackaging()
  }
}
</script>

<style scoped>

</style>
