<template>
  <v-container grid-list-md>
    <v-card>
      <v-toolbar color="primary darken-1" dark>
        <v-toolbar-title class="title">
          Data Pembuatan Bahan Setengah Jadi
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Search"
          append-icon="mdi-file-find"
        />
        <v-data-table
          :headers="headersTablePbb"
          :items="itemsTablePbb"
        >
          <template v-slot:item.id="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" color="info" @click="openDialogCompletePbb(item)">
                  <v-icon>
                    mdi-check
                  </v-icon>
                </v-btn>
              </template>
              <span>
              Finish
            </span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" color="warning">
                  <v-icon>
                    mdi-close
                  </v-icon>
                </v-btn>
              </template>
              <span>
                Cancel
              </span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <v-dialog
      v-model="dialogCompletePbb"
      persistent
      max-width="600"
    >
      <v-card>
        <v-card-title class="primary lighten-1 white--text title">
          Masukan Value Qty
          <v-spacer />
          <v-btn icon color="error" @click.native="dialogCompletePbb = false">
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="mt-5">
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 sm12 md12 lg12 xl12>
                <v-text-field
                  v-model="qtyComplete"
                  label="Qty"
                  type="number"
                />
              </v-flex>

              <v-flex xs12 sm12 md6 lg6 xl6>
                <v-menu
                  ref="menu"
                  v-model="menuDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="date"
                      label="Date"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" @input="menuDate = false" />
                </v-menu>
              </v-flex>

              <v-flex xs12 sm12 md6 lg6 xl6>
                <v-menu
                  ref="menu"
                  v-model="menuTime"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="time"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="time"
                      label="Time"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-if="menuTime"
                    v-model="time"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu.save(time)"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            outlined
            color="primary"
            @click="completePbb"
          >
            Finish
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "pengolahan-bahan-baku",
  middleware: ['admin', 'role4'],

  data: () => ({
    headersTablePbb: [
      { text: 'Name', value: 'name', align: 'left' },
      { text: 'Qty', value: 'stock_out' },
      { text: 'Actions', value: 'id', align: 'right' }
    ],
    itemsTablePbb: [],

    dialogCompletePbb: false,
    itemToComplete: [],
    qtyComplete: null,
    menuDate: false,
    date: null,
    menuTime: false,
    time: null,
  }),

  computed: {
    setHeaderAxios() {
      const { user } = JSON.parse(window.localStorage.vuex)
      return {
        headers: {
          Authorization: 'Bearer ' + user.login.token
        }
      }
    }
  },

  methods: {
    openDialogCompletePbb(data) {
      this.itemToComplete = []
      this.itemToComplete = data
      this.dialogCompletePbb = true
    },

    async getDataPbb(dataItem) {
      try {
        const { data } = await this.$axios.get('stock/pbb', this.setHeaderAxios)
        this.itemsTablePbb = data
      } catch (e) {
        console.log(e)
      }
    },

    async completePbb() {
      const loader = this.$loading.show()
      try {
        const { data } = await this.$axios.post('stock/complete/pbb', {
          idHistory: this.itemToComplete.id,
          name: this.itemToComplete.name,
          qty: this.qtyComplete,
          date: this.date,
          time: this.time
        }, this.setHeaderAxios)
        this.qty = null
        this.date = null
        this.time = null
        this.dialogCompletePbb = false
        this.getDataPbb()
        this.$toast.success(data)
      } catch (e) {
        console.log(e)
      }
      loader.hide()
    }
  },

  mounted() {
    this.getDataPbb()
  }
}
</script>

<style scoped>

</style>
